- set_meta_tags noindex: true,title: "集金管理サンプルページ"
.main.users-index
  .container
    = render "/layouts/breadcrumb"
    .users-index-item
      %h1.collection_title サンプルページ
      .p_t_r
        見本ページのため動作はしません
      .collection_form
        %form
          %p 1人あたりの参加費
          .cp_iptxt
            .item_content
              %input{:id => "", :name => "", :placeholder => "500", :type => "text", :value => "500"}/
              %i.fa.fa-rmb.fa-lg.fa-fw{"aria-hidden" => ""}
              %span.price 円
          %input{"data-disable-with" => "設定", :name => "commit", :type => "submit", :value => "設定"}/
      .collection_form
        %form
          %p メンバーの追加
          .cp_iptxt
            .item_content.item_name
              %input{:id => "", :name => "", :placeholder => "山田", :type => "text"}/
              %i.fa.fa-user.fa-lg.fa-fw{"aria-hidden" => ""}
          .cp_iptxt
            .item_content
              %input{:id => "", :name => "", :placeholder => "500", :type => "text", :value => "500"}/
              %i.fa.fa-rmb.fa-lg.fa-fw{"aria-hidden" => "true"}
              %span.price 円
          %input{"data-disable-with" => "追加", :name => "commit", :type => "submit", :value => "追加"}/
      .sum_people
        %span.sum_border
          人数　5人／
          %span.sum_s 6人
      .sum_money
        %span.sum_border
          金額　3000円／
          %span.sum_s 3500円
      .collection_table
        %table
          %tr
            %td.text_c.w10
              %i.fa.fa-trash
            %td.text_c.w50 鈴木
            %td.text_r.w20 500円
            %td.text_c.w20
              %span.checked
                %i.fa.fa-check-square-o
          %tr
            %td.text_c.w10
              %i.fa.fa-trash
            %td.text_c.w50 佐藤
            %td.text_r.w20 500円
            %td.text_c.w20
              %span.check
                %i.fa.fa-square-o
          %tr
            %td.text_c.w10
              %i.fa.fa-trash
            %td.text_c.w50 山田
            %td.text_r.w20 500円
            %td.text_c.w20
              %span.checked
                %i.fa.fa-check-square-o
          %tr
            %td.text_c.w10
              %i.fa.fa-trash
            %td.text_c.w50 野口
            %td.text_r.w20 500円
            %td.text_c.w20
              %span.checked
                %i.fa.fa-check-square-o
          %tr
            %td.text_c.w10
              %i.fa.fa-trash
            %td.text_c.w50 山本
            %td.text_r.w20 1000円
            %td.text_c.w20
              %span.checked
                %i.fa.fa-check-square-o
          %tr
            %td.text_c.w10
              %i.fa.fa-trash
            %td.text_c.w50 小野
            %td.text_r.w20 500円
            %td.text_c.w20
              %span.checked
                %i.fa.fa-check-square-o
