  <%= link_to(user_path(@user.id)) do %>  
    <div class="user-content">
      <%= lazysizes_image_tag @user.pic_profile.url , class:'image_icon' %>

      <div class="list_wrapper contact_name_wrap">
        <div class="list_01">
          <h2 class="user_name"><%= @user.name %></h2>
        </div>

      </div>
    </div>  
  <% end %>