 <% set_meta_tags og: {image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:#{@question.content},y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg" },
              twitter: {card: 'summary_large_image'} 
	%>

<div class="main users-index">
  <div class="container qa_wrap">

    <h1 class="users-heading">詳細ページ</h1>


 <img src="https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60:<%= @question.content %>,y_-35,co_rgb:333333,w_900,c_fit/v1586676520/qa_vipkmx.jpg" alt="<%= @question.content %>">

	<%= @question.content %>


  </div>
</div>