 <% set_meta_tags og: {image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_18:#{@question.content},co_rgb:6d3e12,w_380,c_fit/v1586610643/sample.jpg" },
              twitter: {card: 'summary_large_image'} 
	%>

<div class="main users-index">
  <div class="container">

    <h1 class="users-heading">詳細ページ</h1>


	<%= @question.content %>


  </div>
</div>