<div class="popupModal1">

 <input type="radio" name="modalPop" id="pop11" />
 <label for="pop11"><i class="fa fa-share-alt "></i></label>
 <input type="radio" name="modalPop" id="pop12" />
 <label for="pop12">CLOSE</label>
 <input type="radio" name="modalPop" id="pop13" />
 <label for="pop13">×</label>

 <div class="modalPopup2">
  <div class="modalPopup3">

   <h2 class="modalTitle">シェアする</h2>
     <div class="modalMain">

            <div class="url_copy">
              <div class="copyTarget"><%= @url %></div>
              <button class="copyBtn"><i class="fa fa-files-o "></i></button>
            </div>

            <img class="imege_happy" src="/images/happy.png">

            <% if @user.name.present? && @user.event.name.present? && @user.prefecture.name.present? %>

              <div id='sosyal'>
                 <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}&text=#{@blog.title}｜#{@user.name}%0a%23#{@user.event.name}%20%23#{@user.prefecture.name}%20%23サークルブック%0a", class: 'sosyal_twitter', title: 'Twitter', target: '_blank' %>

                 <%= link_to 'Facebook', "https://www.facebook.com/sharer/sharer.php?u=#{request.url}", class: 'sosyal_facebook', title: 'Facebook', target: '_blank' %>

                 <%= link_to 'LINE', "http://line.me/R/msg/text/?#{request.url}", class: 'sosyal_line', title: 'LINE', target: '_blank' %>
              </div>

            <% end %>

     </div>
  </div>
 </div>
 
</div>
