<% set_meta_tags noindex: true %>

<div class="main users-new">
  <div class="container">
    <div class="form users-form">
      <div class="form-body cont-body">
        <% if @blog.errors.any? %>
            <div class="form-error">
              以下の項目でエラーが発生いたしました。<br>
              ※原因不明の場合は空欄でご登録ください
            </div>
        <% end %>

        <% @blog.errors.full_messages.each do |message| %>
            <div class="form-error_message">
              ・<%= message %>
            </div>
        <% end %>

      <div class="p_t">ブログの編集</div>

      <%= render "/blogs/form_blog"%>

      </div>
    </div>
  </div>
</div>