<% set_meta_tags title: "【#{@time.strftime("%Y")}年版】#{@prefecture.name}で活動している#{@event.name}のサークル活動ブログ" %>
<div class="main users-index">
  <div class="container">
    <%= render "/layouts/breadcrumb" %>
    <h1 class="users-heading">
    	<%= @prefecture.name %>で活動している<br>
    	<%= @event.name %>のサークル活動ブログ    	
    </h1>

    <%= render "/blogs/blogs_list" %>

  </div>
</div>