<div class="main users-new">
  <div class="container">
    <div class="form-heading">投稿</div>
    <div class="form users-form">
      <div class="form-body">
      	<% if @blog.errors.any? %>
	          <div class="form-error">
	            対応していないファイル形式です
	          </div>
		<% end %>


      <%= render "form_blog.html.erb"%>


      </div>
    </div>
  </div>
</div>