<% set_meta_tags title: "活動ブログ一覧" %>
<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>
    <h1 class="users-heading">活動ブログ</h1>


	<div class="search_area">
	    <%= render "/blogs/events_list" %>
	    <%= render "/blogs/prefectures_list" %>
	</div>

  	<div class="link_page">
		<div class="link_list">
			<h2 class="link_title">47都道府県ごとの活動ブログ</h2>
			<ul>
				<% @prefectures.each do |prefecture| %>
		              <li><%= link_to "#{prefecture.name}の活動ブログ", "/blog/prefectures/#{prefecture.kana}" %></li>  
		        <% end %>
	    	</ul>
    	</div>
    </div>


  </div>
</div>