<% set_meta_tags title: "【#{@time.strftime("%Y")}年版】#{@prefecture.name}のサークルやチームの活動ブログ" %>

<div class="main users-index">
  <div class="container">
    <%= render "/layouts/breadcrumb" %>

		<div class="e_header_wrap">
			<img src="/images/top.png" >
			<div class="link_txt">
				<h1 class="e_header_title">
		          <%= @prefecture.name %>で活動している<br>
		          サークルやチームの<br>
		          活動ブログ
				</h1>
			</div>
		</div>

		<div class="search_area">
		    <%= render "/blogs/events_list" %>
		</div>

    <%= render "/blogs/blogs_list" %>

  </div>
</div>

