<% set_meta_tags title: "活動ブログ一覧" %>
<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>
    <h1 class="users-heading">活動ブログ</h1>


	<div class="search_area">
	    <%= render "/blogs/events_list" %>
	    <%= render "/blogs/prefectures_list" %>
	</div>


    <%= render "/blogs/blogs_list" %>

  </div>
</div>