規約違反の報告がありました。
%br/
\--------------------------------------
%br/
サークル名：#{@user.name}
%br/
https://circle-book.com/users/#{@user.id}
%br/
%br/
▼ 違反内容
%br/
= @user_contact.violation
%br/
\--------------------------------------
%br/
