質問箱に投稿されました！

\--------------------------------------
user_id：　	#{@opinion.user_id}
https://circle-book.com/users/#{@opinion.user_id}

▼コメント
\#{@opinion.opinion}
\--------------------------------------
