- set_meta_tags noindex: true
.main.users-index
  .container
    .users-index-item.schedule_wrap
      %h1.top_title プロフィールの編集

      .form
        %ul
          - @profile.errors.full_messages.each do |message|
            %li= message

        = form_with(model: @profile, url: exhibitor_profile_path, method: 'put', local: true) do |f|




          = f.submit "更新する", data: { disable_with: '更新中...' }
