- set_meta_tags noindex: true,title: "アカウントの削除"
.main.users-new
  .container
    .form.users-form
      .form-body.cont-body.center
        .p_t アカウントの削除

        .warning_icon
          %i.fa.fa-warning
        .warning_text
          アカウントのデータを全て削除します。
          %br/
          一度削除をしてしまうと
          %br/
          復元できませんので、ご注意ください。

        %hr/
        .del_text.del_text_ts
          下記ボタンを押すと削除を実行します。
          %br/
          アカウントに紐づく
          %span.red> 全てのデータが削除
          されます
        .del_btn_wrap
          = link_to(unsubscribe_member_path, method: :delete, data: {confirm: "本当に削除してよろしいでしょうか？"}) do
            .del_btn.red はい、削除します
          = link_to(circles_path) do
            .del_btn.gray いいえ、削除しません
