<div class="ages-container">

  <div class="cp_actab">
    <input id="tab-one" type="checkbox" name="tabs">
    <label for="tab-one">
      <i class="fa fa-search search-list"></i>年齢別から探す
    </label>
    <div class="cp_actab-content">

      <ul class="ages-menus">
        <% @ages.each do |age| %>

            <li>
              <%= link_to("/#{@event.ruby}/#{@prefecture.kana}/#{age.decade}") do %>
                <div class="link_txt"><%= age.name %></div>
              <% end %>
            </li> 
         
        <% end %> 
           
      </ul> 

    </div>
  </div>

</div>