<div class="analytics_wrap">

	<span class="analytics_title"><i class="fa fa-line-chart "></i> アクセス数</span>
	<div class="analytics_contents">
		ページを見た人：<%= @user.impressionist_count %>人
	</div>

</div>