<% if admin_user_signed_in? %>
	<% if @user.id == current_admin_user.id || current_admin_user.id == 1 %>


		<div class="analytics_wrap">

				<span class="analytics_title"><i class="fa fa-bar-chart-o "></i> アクセス数</span>
				<div class="analytics_contents">

					<table>
						<tr>
							<th>ページを見た人</th>
							<td><%= @user.impressionist_count %> 人</td>
						</tr>

							<% if @blogs.any? %>
								<% @blogs.each do |blog| %>
									<% @blogs_imp = @blogs_imp + blog.impressions_count %>
								<% end %>

								<% if @blogs_imp > 1 || current_admin_user.id == 1 %>

								<tr>
									<th>ブログを見た人</th>
									<td><%= @blogs_imp %> 人</td>
								</tr>

								<% end %>
							<% end %>

						<% if @user.mail_count > 1 || current_admin_user.id == 1 %>
								<tr>
									<th>【メールで相談する】押された回数</th>
									<td><%= @user.mail_count %> 回</td>
								</tr>								
						<% end %>

						<% if @user.line_count >1 || current_admin_user.id == 1 %>
							<% if @user.line_id != "" %>
								<tr>
									<th>【LINEで相談する】押された回数</th>
									<td><%= @user.line_count %> 回</td>
								</tr>
							<% end %>
						<% end %>
					</table>


					
				</div>

		</div>

	<% end %>
<% end %>