<% if @user.contact == "line" && @user.line_id != "" %>
		<div class="contact-button">
			<%= link_to new_user_user_contact_path(@user) do %>
				<img src="/images/icon_line.png" alt="" class="icon_sns" />
			<% end %>
		</div>

<% elsif @user.contact == "mail" %>
		<div class="contact-button">
			<%= link_to new_user_user_contact_path(@user) do %>
				<img src="/images/icon_mail.png" alt="" class="icon_sns" />
			<% end %>
		</div>

<% else %>
	<% if @user.line_id != "" %>
		<div class="contact-button">
			<%= link_to new_user_user_contact_path(@user) do %>
				<img src="/images/icon_line.png" alt="" class="icon_sns" />
			<% end %>
		</div>
	<% end %>
		<div class="contact-button">
			<%= link_to new_user_user_contact_path(@user) do %>
				<img src="/images/icon_mail.png" alt="" class="icon_sns" />
			<% end %>
		</div>
<% end %>
