<% if @user.gallery_01.present? || @user.gallery_02.present? || @user.gallery_03.present? || @user.gallery_04.present? %>

	<div class="gallery_wrap">
		<div class="gallery_container">

    		<% if @user.gallery_01.present? %>
				<%= image_tag @user.gallery_01.url, class:'gallery_imege' %>
			<% end %>

			<% if @user.gallery_02.present? %>
				<%= image_tag @user.gallery_02.url, class:'gallery_imege' %>
			<% end %>

			<% if @user.gallery_03.present? %>
				<%= image_tag @user.gallery_03.url, class:'gallery_imege' %>
			<% end %>

			<% if @user.gallery_04.present? %>
				<%= image_tag @user.gallery_04.url, class:'gallery_imege' %>
			<% end %>

		</div>
	</div>

<% end %>