<div class="groups-container">

  <div class="cp_actab">
    <input id="tab-two" type="checkbox" name="tabs">
    <label for="tab-two">募集内容から探す</label>
    <div class="cp_actab-content">

      <ul class="groups-menus">
        <% @groups.each do |group| %>

            <li>
              <%= link_to("/#{@event.ruby}/#{@prefecture.kana}/group/#{group.group}") do %>
                <div class="link_txt"><%= group.name %></div>
              <% end %>
            </li> 
         
        <% end %> 
           
      </ul> 

    </div>
  </div>

</div>