- if @path.is('users#index', 'users#top')
- else
  = render "/users/search"
.no_hit_wrap
  %img.imege_sorry{:src => "/images/sorry.png"}/
  = link_to(root_path) do
    .no_hit_top トップページに戻る
  = link_to(new_admin_user_registration_path) do
    .no_hit_new 新しくサークルを登録する
= render "/layouts/ad_square"
.ad_space
