<% if @path.is('users#index', 'users#top') %>

<% else %>

	<%= render "/users/search.html.erb" %>

<% end %>

<div class="no_hit_wrap">

	<img class="imege_sorry" src="/images/sorry.png">

	<%= link_to(root_path) do %> 
		<div class="no_hit_top">トップページに戻る</div>	
	<% end %>

	<%= link_to(new_admin_user_registration_path) do %> 
		<div class="no_hit_new">新しくサークルを登録する</div>	
	<% end %>	


</div>


<%= render "/layouts/ad_square" %>
<div class="ad_space"></div>