- if admin_user_signed_in?
  - if @user.admin_user_id == current_admin_user.id
    - if @user.event_id.present?
      - if @user.event.openchat != ""
        .openchat_wrap
          %a{:href => "#{@user.event.openchat}"}
            .openchat_btn
              = @user.event.name if @user.event_id?
              専用の
              %br/
              LINEオープンチャットに参加する
