<% if @user.requirement.present? %>
<div class="profile_list_t">応募に必要な情報<br><span class="profile_list_t_a">※コピーしてご応募ください</span></div>
	<div class="profile_list_p profile_list_frame">
		<div class="copyTarget"><%= simple_format @user.requirement %></div>
	</div>	
	<button class="copyBtn"><div class="requirement_copy"><i class="fa fa-copy "></i> コピーする</div></button>

	<div class="border"></div>
<% end %>







<!-- User Edit用 -->
<!-- <p>応募時に送って欲しい内容</p>
<%= f.text_area :requirement, class: 'form-control form_small', placeholder: "名前：&#13;&#10;年齢：&#13;&#10;性別：".html_safe %> -->