<div class="main users-new">
  <div class="container">

    <h1 class="form-heading">アカウント</h1>
    <div class="form users-form">
      <div class="form-body cont-body admin_users_wrap">

          <%= link_to new_user_registration_path do %>
            <div class="admin_users_btn">
              サークル新規登録
            </div>
          <% end %>

          <%= link_to new_admin_user_session_path do %>
            <div class="admin_users_btn">
              ログイン
            </div>
          <% end %>

      </div>
    </div>
  </div>
</div>
