.main.users-new
  .container
    %h1.form-heading アカウント
    .form.users-form
      .form-body.cont-body.admin_users_wrap
        = link_to new_admin_user_registration_path do
          .admin_users_btn
            サークル新規登録
        = link_to new_admin_user_session_path do
          .admin_users_btn
            ログイン
