<% set_meta_tags noindex: true %>
<div class="main">
  <div class="container">
    <amp-img class="imege_title"
      src="/images/top.png"
      width="450px"
      height="130px"
      layout="responsive"
      object-fit="cover">
    </amp-img>
  <h1 class="users-heading">
    <amp-img class="img_logo_title"
      src="/images/logo.png"
      alt="サークルブック"
      width="170"
      height="35"
      object-fit="cover">
    </amp-img>
  </h1>
    <div class="users-txt">
      あなたにピッタリの<br>
      サークルやチーム、団体が見つかる！！
		</div>



<% if request.format == :amp %>
    <%= render "/users/amp_search.html.erb" %>
    <%= render "amp_users_list.html.erb" %>
<% else %>
    <%= render "users_list.html.erb" %>
<% end %>


  </div>
</div>