<% set_meta_tags noindex: true %>
<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">LINEのURLコピーのやり方</h1>

	<div class="line_link_wrap">
		<a class="link_button" href="#line_a">
			▼【iPhone／Android】LINEのURLコピー
		</a>    
	</div>

	<a class="link_button" href="#line_b">
		▼【Androidのみ】LINE@の登録とURLコピー
	</a>    

<%= image_tag '/line/line_a_1.jpg', class: "line_img" %>

    <h2 class="line_title" id="line_a">【iPhone／Android】LINEのURLコピー</h2>
	  	<img class="line_img" src="/line/line_a_1.jpg">



		<div class="line_txt">
			LINEアプリのホーム画面を開き、友だち追加からQRコードを選びます。			
		</div>

		<img class="line_img" src="/line/line_a_2.jpg">
		<div class="line_txt">
			マイQRコードを選び、右上のメニューボタン（︙）を押します。			
		</div>

		<img class="line_img" src="/line/line_a_3.jpg">    
		<div class="line_txt">
			メールで送信を選び、メール画面に移行します。<br>
			一番下に書かれているURLをコピーします。		
		</div>


    <h2 class="line_title" id="line_b">【Androidのみ】LINE@の登録とURLコピー</h2>
	  	<img class="line_img" src="/line/line_b_1.jpg">
		<div class="line_txt">
			<a href="https://play.google.com/store/apps/details?id=com.linecorp.lineoa" target="_blank" class="line_business"> >>LINE公式アカウントのダウンロード</a>
			 【LINE公式アカウント】のアプリをAndroid端末からダウンロードします。<br>
			 アカウントの認証を終えたら、左上のメニューボタンを押します。
		</div>	 

		<img class="line_img" src="/line/line_b_2.jpg">
		<div class="line_txt">
			アカウントを作成を選び、必要項目に記入し、登録をしてください。
		</div>

		<img class="line_img" src="/line/line_b_3.jpg">    
		<div class="line_txt">
			ホーム画面を開き、設定を選んでください。<br>
			設定メニューの応答を選択してください。
		</div>

	  	<img class="line_img" src="/line/line_b_4.jpg">
		<div class="line_txt">
			初期設定では、応答モードがBotのため、チャットに変更します。<br>
			※チャットモードにしないと、メッセージの送受信ができません
		</div>

		<img class="line_img" src="/line/line_b_5.jpg">
		<div class="line_txt">
			ホーム画面を開き、友だち追加を選んでください。<br>
			URLで共有を選択し、表示されたURLをコピーしてください。
		</div>

  </div>
</div>