<% set_meta_tags noindex: true %>
<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">LINEのURLコピーのやり方</h1>

	<div class="line_link_wrap">
		<a class="link_button" href="#line_a">
			▼【iPhone／Android】LINEのURLコピー
		</a>    
	</div>

	<a class="link_button" href="#line_b">
		▼【Androidのみ】LINE@の登録とURLコピー
	</a>



<amp-img class="amp_img_test" src="/line/line_a_1.jpg"/></amp-img>



  </div>
</div>