<div class="main users-edit">
  <div class="container">
    <div class="form users-form">

      <div class="form-body cont-body">
      	<% if @user.errors.any? %>
	          <div class="form-error">
              以下の項目でエラーが発生いたしました。<br>
              ※原因不明の場合は空欄でご登録ください
	          </div>
		<% end %>
 
        <% @user.errors.full_messages.each do |message| %>
            <div class="form-error_message">
              ・<%= message %>
            </div>
        <% end %>

      <%= form_for @user,:url => {controller: "users", action: "update2"} do |f| %>

	    <div class="p_t">サークル内容の編集</div>


	    <p>活動エリア</p>
	    <div class="check_boxes">
	   		<%= f.collection_check_boxes(:city_ids, @cities, :id, :name) %>
	    </div>

        <%= f.submit "更新する" %>

      <% end %>


      </div>
    </div>
  </div>
</div>