<% set_meta_tags noindex: true %>

<div class="main users-edit">
  <div class="container">
    <div class="form users-form">
      <%= render "users/parts/step_bar" %>
      <%= render "users/form" %>
    </div>
  </div>
</div>