<div class="main users-index">
  <div class="container">
    <h1 class="users-heading"><%= @prefecture.name %>で活動している<br>
      <%= @event.name %>のサークル一覧</h1>
 
    <%= render "/users/users_list.html.erb" %>

    
  </div>
</div>