<% set_meta_tags title: "#{@event.name}のサークル一覧" %>

<div class="main users-index">
  <div class="container">
    <h1 class="users-heading"><%= @event.name %>のサークル一覧</h1>

	<%= render "/layouts/breadcrumb" %>

	<% if @hit != 0 %>
		<div class="search_area">
		    <%= render "prefectures_list.html.erb" %>
		</div>
	<% end %>

	<% if @hit == 0 %>
		<div class="no_hit">該当サークルがありません</div>
		<img class="imege_sorry" src="/images/sorry.png">
		
		<h2 class="users-heading">全国のサークル一覧</h2>
	<% end %>

    <%= render "users_list.html.erb" %>

    
  </div>
</div>