<div class="main users-index">
  <div class="container">
    <h1 class="users-heading"><%= @event.name %>のサークル一覧</h1>


    <%= render "prefectures_list.html.erb" %>

    <%= render "users_list.html.erb" %>

    
  </div>
</div>