<% set_meta_tags title: "よくある質問" %>
<div class="main users-index">
  <div class="container">
  	<div class="page_wrap">

<h1 class="users-heading">よくある質問</h1>

<h2 class="page_title">【共通の質問】</h2>

	<h3 class="page_title">サークルブックとは？</h3>
	<p>
		サークルブックとは、サークルやチームの新規メンバーを募集するためのSNSです。
	</p>

	<h3 class="page_title">無料で使えるんですか？</h3>
	<p>
		サークルブックのサービスは全て無料でお使いいただくことが可能です。
	</p>

	<h3 class="page_title">活動ブログとは何ですか？</h3>
	<p>
		各サークルの活動記録や、活動スケジュールなどを載せているブログのことです。
	</p>

<div class="border"></div>


<h2 class="page_title">【一般ユーザー向けの質問】</h2>

	<h3 class="page_title">気になったサークルにどうやって連絡すればいいですか？</h3>
	<p>
		サークルブックでは、LINE（LINE@）やメールで直接やり取りすることが可能です。<br>
		各サークルのページに、LINEかメールにて連絡ができるボタンがありますので、そちらからご連絡をお願いします。
	</p>

	<h3 class="page_title">絞り込み検索はできますか？</h3>
	<p>
		サークル検索から、『+』のボタンを押していただくと、種目やエリアから絞り込み検索をすることができます。
	</p>


<div class="border"></div>


<h2 class="page_title">【サークル運営者向けの質問】</h2>

	<h3 class="page_title">サークルの並び順を上位にする方法は？</h3>
	<p>
		各サークルの活動記録や、活動スケジュールなどを載せているブログのことです。
	</p>




	</div>
  </div>
</div>