<% set_meta_tags title: "【#{@time.strftime("%Y")}年版】47都道府県のサークルやチーム、団体一覧｜メンバー募集サイト" %>

  <div class="main users-index">
    <div class="container">
      <img data-src="/images/top.png" class="lazyload imege_title" >
      <h1 class="users-heading">サークル検索</h1>
        <div class="users-txt">
          <% if admin_user_signed_in?  %>
            <%= link_to("活動ブログ", new_user_blog_path(@user) ) %>を投稿すると<br>
            あなたの掲載順位が上がります！

          <% else %>
          あなたにピッタリの<br>
          サークルやチーム、団体が見つかる！！
          <% end %>
        </div>

    <%= render "/users/search.html.erb" %>


    <%= render "users_list.html.erb" %>


    </div>
  </div>



















