<div class="main users-index">
  <div class="container">

    <h1 class="users-heading">全国のサークル一覧</h1>

    <%= render "events_list.html.erb" %>

    <%= render "prefectures_list.html.erb" %>

    <%= render "users_list.html.erb" %>



  </div>
</div>