<% set_meta_tags title: "LINEのURLコピーのやり方" %>
<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">LINEのURLコピーのやり方</h1>
    <h2>LINEのURLコピー</h2>
	  	<img class="line_img" src="/line/line_a_1.jpg">
		<img class="line_img" src="/line/line_a_2.jpg">
		<img class="line_img" src="/line/line_a_3.jpg">    

    <h2>LINE@の登録とURLコピー</h2>
	  	<img class="line_img" src="/line/line_b_1.jpg">
		<img class="line_img" src="/line/line_b_2.jpg">
		<img class="line_img" src="/line/line_b_3.jpg">    
	  	<img class="line_img" src="/line/line_b_4.jpg">
		<img class="line_img" src="/line/line_b_5.jpg">
  </div>
</div>