- set_meta_tags title: "LINEのURLコピーのやり方"
.main.users-index
  .container
    %h1.users-heading LINEのURLコピーのやり方
    .line_link_wrap
      %a.link_button{:href => "#line_a"}
        ▼【iPhone／Android】LINEのURLコピー
    %a.link_button{:href => "#line_b"}
      ▼【Androidのみ】LINE@の登録とURLコピー
    %h2#line_a.line_title 【iPhone／Android】LINEのURLコピー
    %img.line_img{:src => "/line/line_a_1.jpg"}/
    .line_txt
      LINEアプリのホーム画面を開き、友だち追加からQRコードを選びます。
    %img.line_img{:src => "/line/line_a_2.jpg"}/
    .line_txt
      マイQRコードを選び、右上のメニューボタン（︙）を押します。
    %img.line_img{:src => "/line/line_a_3.jpg"}/
    .line_txt
      メールで送信を選び、メール画面に移行します。
      %br/
      一番下に書かれているURLをコピーします。
    %h2#line_b.line_title 【Androidのみ】LINE@の登録とURLコピー
    %img.line_img{:src => "/line/line_b_1.jpg"}/
    .line_txt
      %a.line_business{:href => "https://play.google.com/store/apps/details?id=com.linecorp.lineoa", :target => "_blank"} &gt;&gt;LINE公式アカウントのダウンロード
      【LINE公式アカウント】のアプリをAndroid端末からダウンロードします。
      %br/
      アカウントの認証を終えたら、左上のメニューボタンを押します。
    %img.line_img{:src => "/line/line_b_2.jpg"}/
    .line_txt
      アカウントを作成を選び、必要項目に記入し、登録をしてください。
    %img.line_img{:src => "/line/line_b_3.jpg"}/
    .line_txt
      ホーム画面を開き、設定を選んでください。
      %br/
      設定メニューの応答を選択してください。
    %img.line_img{:src => "/line/line_b_4.jpg"}/
    .line_txt
      初期設定では、応答モードがBotのため、チャットに変更します。
      %br/
      ※チャットモードにしないと、メッセージの送受信ができません
    %img.line_img{:src => "/line/line_b_5.jpg"}/
    .line_txt
      ホーム画面を開き、友だち追加を選んでください。
      %br/
      URLで共有を選択し、表示されたURLをコピーしてください。
