- set_meta_tags title: "ログインページ"
.main.users-index
  .container
    = render "/layouts/breadcrumb"
    .login_wrap
      %h1.p_t ログイン
      %h2.login_title サークル主催者はこちら
      %img.login_img{:src => "/images/admin_user.png"}/
      = link_to "ログイン", new_admin_user_session_path, class: "login_btn"
      .border
      %h2.login_title 参加者はこちら
      %img.login_img{:src => "/images/member.png"}/
      = link_to "ログイン", new_member_session_path, class: "login_btn"
