- set_meta_tags title: "全国のサークル一覧"
.main.users-index
  .container
    = render "/layouts/breadcrumb"
    %h1.users-heading 全国のサークル一覧
    .link_page
      .link_list
        %h2.link_title 47都道府県ごとのサークル
        %ul
          - @prefectures.each do |prefecture|
            %li= link_to "#{prefecture.name}のサークル一覧", "/prefectures/#{prefecture.kana}"
