<% set_meta_tags title: "全国のサークル一覧" %>
<div class="main users-index">
  <div class="container">
  <%= render "/layouts/breadcrumb" %>
  <h1 class="users-heading">全国のサークル一覧</h1>

  <div class="link_page">
  <div class="link_list">
    <h2 class="link_title">47都道府県ごとのサークル</h2>
    <ul>
      <% @prefectures.each do |prefecture| %>
            <li><%= link_to "#{prefecture.name}のサークル一覧", "/prefectures/#{prefecture.kana}" %></li>
          <% end %>
      </ul>
    </div>
  </div>

  </div>
</div>