<div class="main users-index">
  <div class="container">
  	<img class="imege_title" src="/images/top.png">
    <h1 class="users-heading">サークルブック</h1>
	    <div class="users-txt">
    		サークルメンバー募集サイト<br>
    		LINEで簡単に相談ができます！
		</div>

    <%= render "events_list.html.erb" %>

    <%= render "prefectures_list.html.erb" %>

    <%= render "users_list.html.erb" %>
    

  </div>
</div>