<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">全国のサークル一覧</h1>

  <%= link_to "写真・カメラ", camera_path %><br>
  <%= link_to "バスケットボール", basketball_path %><br>

    <%= render "users_list.html.erb" %>

    
  </div>
</div>