<div class="main users-edit">
  <div class="container">
    <div class="form users-form table_list">


<table>
  <tr><th>place_id</th><th>event_id</th></tr>
  
  <% @places_events.each do |place_event|%>
    <tr><td><%= place_event.place_id %></td><td><%= place_event.event_id %></td></tr>
  <% end %>

</table>




      </div>
    </div>
  </div>
</div>