<div class="main users-edit">
  <div class="container">
    <div class="form users-form table_list">


    <table>
      <tr><th>user_id</th><th>admin_user_id</th><th>URL</th></tr>

      <% @users.each do |user|%>

        <tr>
          <td><%= user.id %></td>
          <td><%= user.admin_user_id %></td>
          <td><%= link_to user.name, user_path(user) %></td>
        </tr>


      <% end %>

    </table>




      </div>
    </div>
  </div>
</div>