<div class="main users-edit">
  <div class="container">
    <div class="form users-form">

      <table class="table">
          <thead>
              <tr>
                  <th>県</th>
                  <th>id</th>
                  <th>市区町村郡</th>
                  <th>カウント</th>
              </tr>
          </thead>


          <% @cities.each do |city| %>
          <tbody>
              <tr>
                  <th><%= city.prefecture.name %></th>
                  <th><%= city.id %></th>
                  <td><%= city.name %></td>
                  <td><%= city.users_cities.count %></td>
              </tr>
          </tbody>
          <% end %>
      </table>


      </div>
    </div>
  </div>
</div>