<div class="main users-edit">
  <div class="container">
    <div class="form users-form">

      <table class="table">
          <thead>
              <tr>
                  <th>id</th>
                  <th>admin_id</th>
              </tr>
          </thead>


          <% @users_search.each do |user| %>
          <tbody>
              <tr>
                  <th><%= user.id %></th>
                  <th><%= user.admin_user_id %></th>
              </tr>
          </tbody>
          <% end %>
      </table>


      </div>
    </div>
  </div>
</div>