<div class="schedule_post_wrap">

  <div class="popupModal1">

    <input type="radio" name="modalPop" id="pop11" />
    <label for="pop11"><div class="schedule_post_btn"><i class="fa fa-plus "></i> スケジュールを追加する</div></label>
    <input type="radio" name="modalPop" id="pop12" />
    <label for="pop12">CLOSE</label>
    <input type="radio" name="modalPop" id="pop13" />
    <label for="pop13">×</label>

    <div class="modalPopup2">
    <div class="modalPopup3">

      <h2 class="modalTitle">スケジュールの追加</h2>
      <div class="modalMain">

          <%= render "/schedules/schedule_form" %>

      </div>
    </div>
    </div>

  </div>

</div>
