<div class="attendances_modal">
  <a class="js-modal-open" href="" data-target="schedule_add"><span class="join_btn">スケジュールを追加する</span></a>
</div>

<div class="attendances_modal">
  <div id="schedule_add" class="modal js-modal">
    <div class="modal_bg js-modal-close"></div>

    <div class="modal_content">

      <div class="form-body cont-body form">
          <%= render "/schedules/schedule_form" %>
      </div>

      <br><a class="js-modal-close" href="">閉じる</a>
    </div>
  </div>
</div>