= f.select :recruitment_numbers,[ |
      ['人数制限なし', 0],              |
      ['1人', 1],                  |
      ['2人', 2],                  |
      ['3人', 3],                  |
      ['4人', 4],                  |
      ['5人', 5],                  |
      ['6人', 6],                  |
      ['7人', 7],                  |
      ['8人', 8],                  |
      ['9人', 9],                  |
      ['10人', 10],                |
      ['11人', 11],                |
      ['12人', 12],                |
      ['13人', 13],                |
      ['14人', 14],                |
      ['15人', 15],                |
      ['16人', 16],                |
      ['17人', 17],                |
      ['18人', 18],                |
      ['19人', 19],                |
      ['20人', 20],                |
      ['21人', 21],                |
      ['22人', 22],                |
      ['23人', 23],                |
      ['24人', 24],                |
      ['25人', 25],                |
      ['26人', 26],                |
      ['27人', 27],                |
      ['28人', 28],                |
      ['29人', 29],                |
      ['30人', 30],                |
      ['31人', 31],                |
      ['32人', 32],                |
      ['33人', 33],                |
      ['34人', 34],                |
      ['35人', 35],                |
      ['36人', 36],                |
      ['37人', 37],                |
      ['38人', 38],                |
      ['39人', 39],                |
      ['40人', 40],                |
      ['41人', 41],                |
      ['42人', 42],                |
      ['43人', 43],                |
      ['44人', 44],                |
      ['45人', 45],                |
      ['46人', 46],                |
      ['47人', 47],                |
      ['48人', 48],                |
      ['49人', 49],                |
      ['50人', 50]                 |
    ],                            |
  :prompt => "選択してください"           |
