<% set_meta_tags noindex: true %>

<div class="main users-index">
  <div class="container">

		<div class="users-index-item schedule_wrap">

      <h1 class="top_title">スケジュールの編集</h1>
      <%= render "/users/parts/user_name", user: @user %>

      <%= render "/schedules/form" %>

		</div>


	</div>
</div>