- set_meta_tags noindex: true
.main.users-index
  .container
    .users-index-item.schedule_wrap
      %h1.top_title スケジュールの編集
      = render "/users/parts/user_name", user: @user
      = render "/schedules/form"
