<% if @schedule.time_s.present? %>

	<% if @schedule.time_e.present? %>
		<% set_meta_tags title: "#{@schedule.title}｜活動スケジュール｜#{@user.name}",
							og: {
										title: "活動スケジュール｜#{@user.name}",
										description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}", 
                    image:image_url("/images/schedule_ogp.jpg")
									},
							twitter: { card: 'summary_large_image' ,
                        image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60_bold:#{ @schedule_title },y_-120,co_rgb:333,w_900,c_fit/l_text:Sawarabi%20Gothic_60:#{ Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") } #{ @schedule.time_s.strftime('%H:%M') }〜#{ @schedule.time_e.strftime('%H:%M') },y_10,co_rgb:333,w_900,c_fit/l_text:Sawarabi%20Gothic_50:@#{ @schedule.venue },y_110,co_rgb:333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"
              }
		%>

	<% else %>
		<% set_meta_tags title: "#{@schedule.title}｜活動スケジュール｜#{@user.name}",
							og: {
										title: "#{@schedule_title}｜活動スケジュール｜#{@user.name}",
										description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}",
                    image:image_url("/images/schedule_ogp.jpg")
									},
							twitter: { card: 'summary_large_image',
                        image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60_bold:#{ @schedule_title },y_-120,co_rgb:333,w_900,c_fit/l_text:Sawarabi%20Gothic_60:#{ Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") } #{ @schedule.time_s.strftime('%H:%M') }〜,y_10,co_rgb:333,w_900,c_fit/l_text:Sawarabi%20Gothic_50:@#{ @schedule.venue },y_110,co_rgb:333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"
              }
		%>

	<% end %>


<% else %>
	<% set_meta_tags title: "#{@schedule.title}｜活動スケジュール｜#{@user.name}",
						og: {
									title: "#{@schedule_title}｜活動スケジュール｜#{@user.name}",
									description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}",
                  image:image_url("/images/schedule_ogp.jpg")
								},
						twitter: { card: 'summary_large_image',
                      image: "https://res.cloudinary.com/hgvtbyy8v/image/upload/l_text:Sawarabi%20Gothic_60_bold:#{ @schedule_title },y_-120,co_rgb:333,w_900,c_fit/l_text:Sawarabi%20Gothic_60:#{ Time.parse(@schedule.day).strftime("%-m月%-d日(#{%w(日 月 火 水 木 金 土)[Time.parse(@schedule.day).wday]})") },y_10,co_rgb:333,w_900,c_fit/l_text:Sawarabi%20Gothic_50:@#{ @schedule.venue },y_110,co_rgb:333,w_900,c_fit/v1586676520/qa_vipkmx.jpg"
            }
	%>

<% end %>



<div class="user_main users-index ad_bottom_space">
  <div class="container">

    <%= render "/schedules/show_detail" %>

  </div>
</div>



