<% set_meta_tags noindex: true,
  title: "【限定公開】#{@schedule.title}｜活動スケジュール｜#{@user.name}",
  og: {
        title: "【限定公開】#{@schedule_title}｜活動スケジュール｜#{@user.name}",
        description: "#{@user.prefecture.name}で活動している#{@user.event.name}サークル｜#{@user.name}",
        image:image_url("/images/schedule_ogp.jpg")
      }
%>


<div class="user_main users-index ad_bottom_space">
  <div class="container secret_schedule">

    <%= render "/schedules/show_detail" %>

  </div>
</div>



