- set_meta_tags title: @meta_title,description: @meta_description,og: {image: @schedule.ogp_img},twitter: { card: 'summary_large_image'}
.user_main.users-index.ad_bottom_space
  .container
    = render "/schedules/show_detail"
