<% set_meta_tags noindex: true %>

<div class="main users-index">
  <div class="container">

    <div class="contents_wrap">
      <div class="p_t">アカウントロック</div>

      <div class="thanks_txt">
        <p>
          不正な行動を検知したため、<br>
          アカウントをロックいたしました。
        </p>
        <img class="imege_thanks" src="/images/sorry_cat.png">
        <p>
          ロック解除の申請を希望される場合は、<br>
          ご利用されたメールアドレスで<br>
          以下のリンクからメールをお送りください。
        </p>
        <div class="stop_match other_match">
          <a class="other_match" href="mailto:circlebook47@gmail.com?subject=【サークルブック】アカウントロック解除申請&amp;body=#このままメールをお送りください。<%= request.remote_ip %>">
              >> ロック解除申請を行う
          </a>
        </div>
      </div>
    </div>



	<%= render "/layouts/ad_square" %>
	<div class="ad_space"></div>

  </div>
</div>