<% set_meta_tags noindex: true %>

<div class="main users-index">
  <div class="container">

    <div class="contents_wrap">
      <div class="p_t">アカウントの利用制限</div>

      <div class="thanks_txt">
        <p>
          不正な行動を検知したため、<br>
          アカウントの利用を制限しました。
        </p>
        <img class="imege_thanks" src="/images/sorry_cat.png">
      </div>
    </div>


	<%= render "/layouts/ad_square" %>
	<div class="ad_space"></div>

  </div>
</div>