- set_meta_tags noindex: true
.main.users-index
  .container
    .contents_wrap
      .p_t アカウントの利用制限
      .thanks_txt
        %p
          不正な行動を検知したため、
          %br/
          アカウントの利用を制限しました。
        %img.imege_thanks{:src => "/images/sorry_cat.png"}/
    = render "/layouts/ad_square"
    .ad_space
