- set_meta_tags title: "サークルブックについて"
.main.users-index
  .container
    .page_wrap
      %h1.users-heading サークルブックについて
      %h2.page_title サークルブックの理念
      %p
        あなたは今までに、どんなスポーツをやってきましたか？
      %p
        社会人になると、中学校や高校の部活動と比べ、
        %br/
        スポーツをやる機会が極端に減っているように感じています。
      %br/
      %p
        「久々に体を動かしたいな」
        %br/
        「新しいスポーツや趣味に挑戦したいな」
        %br/
        「移転先で新しいコミュニティを見つけたいな」
        %br/
        そんなときに、あなたにぴったりのサークルをオススメできれば嬉しいです。
      %br/
      %p
        ただ、残念なことに、ごくまれにネットワークビジネスやマルチ商法など、勧誘を目的とした社会人サークルを運営している団体もいます。
        %br/
        勇気を出してサークルへの参加お問い合わせをいただいた人に対して、残念な思いをさせたくありません。
      %br/
      %p
        サークルの主催者と参加者が安心してマッチングができるサービスを作りたい。
      %br/
      %p
        サークルブックでは、各サークルの活動内容や雰囲気を分かりやすく伝えることで、
        %br/
        サークル選びで後悔する人たちを減らしたいと思っています。
      %br/
      %p
        そして、素敵なサークルが正しく評価される、そんなサービスをつくっていきたいです。
      %h2.page_title 運営者情報
      .article_item.article_padding
        %table
          %tbody
            %tr.flex_contents
              %th.flex_list 運営
              %td.flex_list サークルブック
            %tr.flex_contents
              %th.flex_list メール
              %td.flex_list
                %a{:href => "mailto:circlebook47@gmail.com?subject=【お問い合わせ】サークルブック"} お問い合わせ
