<% set_meta_tags title: "サークルブックについて" %>
<div class="main users-index">
  <div class="container">
    <div class="page_wrap">

    <h1 class="users-heading">サークルブックについて</h1>

      <h2 class="page_title">サークルブックの理念</h2>
      <p>
        あなたは今までに、どんなスポーツをやってきましたか？
      </p>

      <P>
        社会人になると、中学校や高校の部活動と比べ、<br>
        スポーツをやる機会が極端に減っているように感じています。
      </p>
      <br>
      <p>
        「久々に体を動かしたいな」<br>
        「新しいスポーツや趣味に挑戦したいな」<br>
        「移転先で新しいコミュニティを見つけたいな」<br>
        そんなときに、あなたにぴったりのサークルをオススメできれば嬉しいです。
      </p>
      <br>
      <p>
        ただ、残念なことに、ごくまれにネットワークビジネスやマルチ商法など、勧誘を目的とした社会人サークルを運営している団体もいます。<br>
        勇気を出してサークルへの参加お問い合わせをいただいた人に対して、残念な思いをさせたくありません。
      </p>
      <br>
      <p>
        サークルの主催者と参加者が安心してマッチングができるサービスを作りたい。
      </p>
      <br>
      <p>
        サークルブックでは、各サークルの活動内容や雰囲気を分かりやすく伝えることで、<br>
        サークル選びで後悔する人たちを減らしたいと思っています。
      </p>
      <br>
      <p>
        そして、素敵なサークルが正しく評価される、そんなサービスをつくっていきたいです。
      </p>

      <h2 class="page_title">運営者情報</h2>

        <div class="article_item article_padding">
          <table>
            <tbody>
              <tr class="flex_contents">
                <th class="flex_list">運営</th>
                <td class="flex_list">サークルブック</td>
              </tr>
              <tr class="flex_contents">
                <th class="flex_list">メール</th>
                  <td class="flex_list"><a href="mailto:circlebook47@gmail.com?subject=【お問い合わせ】サークルブック" >お問い合わせ（メール）</a></td>
              </tr>
              <tr class="flex_contents">
                <th class="flex_list">LINE</th>
                  <td class="flex_list"><a href="http://nav.cx/3JiS9Im">お問い合わせ（LINE）</a></td>
              </tr>
            </tbody>
          </table>
        </div>












    </div>
  </div>
</div>