<% set_meta_tags title: "サークルリンク"%>

<div class="main user-show">
  <div class="container bg_white">

    <img data-src="/images/circle_link01.jpg" class="lazyload link_content_img" >
 	<img data-src="/images/circle_link02.jpg" class="lazyload link_content_img" >
  </div>
</div>