<% set_meta_tags title: "サークルリンク"%>

<div class="main users-index">
  <div class="container">


		<%= form_for([@user, @link]) do |f| %>	    

			<p>ID（半角英数字：6文字以上）<br>
	  		circle-book.com/links/******</p>
			<%= f.text_field :unique_id, class: 'form-control', placeholder: "circlebook" %>

			<%= f.submit "登録する" %>

		<% end %>


  </div>
</div>