!!!
%html{:lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "text/html; charset=UTF-8"}/
  %body
    = @user.name
    さん
    %br/
    サークルブックです。
    %br/
    %br/
    高評価の口コミが#{@user.name}さん宛に届きました！
    %br/
    %br/
    以下のリンクから口コミをチェックしよう！
    %br/
    https://circle-book.com/users/#{@user.id}/reviews
    %br/
    %br/
    ※このメールに返信しても送信先には届きません
