.vs_wrap VS
.match_cta_wrap
  - if @match.recruit == "募集中"
    .contact_link
      = link_to new_user_user_contact_path(@match.id, entry: "2") do
        .btn.btn_c.btn_green.btn_cubic
          %i.fa.fa-envelope>
          練習試合の連絡をする！
  - else
    .stop_match
      = @match.user.name
      は現在
      %br/
      練習試合の募集を終了しております。
    = link_to ">> 他のサークルを探す", matches_path, class: "other_match"
