	<div class="vs_wrap">VS</div>


	<% if admin_user_signed_in? %>

		<div class="matching_card">
		      <% if @current_user.pic_profile.present? %>
		        <img src="<%= @current_user.pic_profile.url %>" alt="プロフィール｜<%= @current_user.name %>" class="matching_icon" />
		      <% else %>
		        <%= lazysizes_image_tag @current_user.pic_profile.url , class:'matching_icon' %>
		      <% end %>

		      <div class="matching_name"><%= @current_user.name %></div>
		</div>

		<div class="matching_entry">
			練習試合を申し込む！
		</div>

	<% else %>

		<div class="matching_entry">
			無料登録をして<br>
			練習試合を申し込む！
		</div>		


	<% end %>

