<% set_meta_tags title: "対戦相手募集" %>
<div class="main users-index">
  <div class="container">
    <img class="imege_title" src="/images/top.png">
    <h1 class="users-heading">対戦相手募集</h1>
	    <div class="users-txt">
    		あなたにピッタリの<br>
    		対戦相手が見つかる！
		</div>


  </div>
</div>