- set_meta_tags title: "【#{@time.strftime("%Y")}年版】練習試合や対戦相手を募集中のサークルやチーム、団体一覧",description: "【完全無料】47都道府県のサークルやチーム、団体の練習試合や対戦相手の募集サイト！10代〜60代、社会人や学生、初心者、経験者など、誰でも参加可能！草野球やソフトボール、フットサルなど。簡単に対戦相手の募集ができます！",keywords: '対戦相手,サークル,チーム,団体,スポーツ',og: {image: image_url('/images/ogp.png')},twitter: { card: 'summary_large_image'}
.main.users-index
  .container
    %img.imege_title{:src => "/images/top.png"}/
    %h1.users-heading 対戦相手・練習試合の募集
    .users-txt
      あなたにピッタリの
      %br/
      対戦相手が見つかる！！
    = render "/matches/search"
    .bg_white
      = render "/matches/matches_list"
    .ad_space
