<p>サークルブックです。</p>

<p>以下のリンクよりパスワードを再設定してください。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールアドレスに心当たりがない場合は、スルーしてください。</p>
<p>※このメールに返信しても連絡することはできません</p>
