.review_cta
  ＼ 無料登録、約30秒で完了します！ ／
.login_btn_wrap
  = link_to "新規登録", new_member_registration_path, class:"login_btn btn_b"
.login_btn_wrap
  = link_to "ログイン", new_member_session_path, class:"login_btn btn_b"
