<div class="main users-index">
 	<div class="container">

    <%= render "/layouts/breadcrumb" %>

		<div class="users-index-item">


		    <h1 class="p_t">口コミ・評価の編集</h1>

			<%= render "/reviews/post" %>	       			

		</div>

	</div>
</div>