<% if admin_user.check == 1 %>
  <div class="attention_content"><i class="fa fa-warning "></i>
    このサークルは【ネットワークビジネス】に関係している可能性があります。
  </div>

<% elsif admin_user.check == 2 %>
  <div class="attention_content"><i class="fa fa-warning "></i>
    このサークルは【宗教】に関係している可能性があります。
  </div>

<% else %>

<% end %>