- if admin_user.check == 1
  .attention_content
    %i.fa.fa-warning
    【ネットワークビジネス（マルチ商法）】の勧誘を目的としたサークルの可能性があります。
- elsif admin_user.check == 2
  .attention_content
    %i.fa.fa-warning
    このサークルは【宗教】に関係している可能性があります。
- else
