<div class="step_bar">

  <ul class="progressbar">
  <% if controller.action_name == "new" || controller.action_name == "add" %>
      <li class="active">サークル<br>基本情報</li>
      <li>サークル<br>基本情報</li>
      <li>主催者<br>プロフィール</li>

  <% elsif controller.action_name == "edit" %>
      <li class="active">サークル<br>基本情報</li>
      <li>サークル<br>基本情報</li>
      <li>主催者<br>プロフィール</li>

  <% elsif controller.action_name == "edit2" %>
      <li class="complete">サークル<br>基本情報</li>
      <li class="active">サークル<br>基本情報</li>
      <li>主催者<br>プロフィール</li>

  <% elsif controller.action_name == "edit3" %>
      <li class="complete">サークル<br>基本情報</li>
      <li class="complete">サークル<br>基本情報</li>
      <li class="active">主催者<br>プロフィール</li>

  <% else %>
  <% end %>


  </ul>

</div>