    <div class="content">
      <a class="js-modal-open" href="" data-target="modal<%= i %>"><span class="join btn">参加する</span></a>
    </div>
    <div id="modal<%= i %>" class="modal js-modal">
        <div class="modal__bg js-modal-close"></div>
        <div class="modal__content">
            <p><%= i %>つ目モーダルウィンドウです。ここにモーダルウィンドウで表示したいコンテンツを入れます。モーダルウィンドウを閉じる場合は下の「閉じる」をクリックするか、背景の黒い部分をクリックしても閉じることができます。</p>
            <a class="js-modal-close" href="">閉じる</a>
        </div>
    </div>