<% set_meta_tags noindex: true %>

<div class="user_main users-index">
  <div class="container">
		<div class="users-index-item">


      <div class="p_t">出欠を入力する</div>

      <%= render "/attendances/form_attendance"%>


    </div>
  </div>
</div>