name: deploy_prod

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
          - name: Deploy to circle-book-web-server-7
            uses: appleboy/ssh-action@master
            with:
              host: ${{ secrets.DEPLOY_HOST1 }}
              username: ${{ secrets.DEPLOY_USER }}
              port: ${{ secrets.DEPLOY_PORT }}
              key: ${{ secrets.DEPLOY_KEY }}
              script: |
                cd ${{ secrets.DEPLOY_DIR }}
                git pull origin master
          - name: Deploy to circle-book-web-server-2
            uses: appleboy/ssh-action@master
            with:
              host: ${{ secrets.DEPLOY_HOST2 }}
              username: ${{ secrets.DEPLOY_USER }}
              port: ${{ secrets.DEPLOY_PORT }}
              key: ${{ secrets.DEPLOY_KEY }}
              script: |
                cd ${{ secrets.DEPLOY_DIR }}
                git pull origin master
          - name: Deploy to circle-book-web-server-5
            uses: appleboy/ssh-action@master
            with:
              host: ${{ secrets.DEPLOY_HOST3 }}
              username: ${{ secrets.DEPLOY_USER }}
              port: ${{ secrets.DEPLOY_PORT }}
              key: ${{ secrets.DEPLOY_KEY }}
              script: |
                cd ${{ secrets.DEPLOY_DIR }}
                git pull origin master