<div class="search_wrap">
		<div class="search_word">

    <%= link_to request.url.gsub('.amp', '') do %>
      <div class="more_place_btn">
        <i class="fa fa-search"></i> 体育館やコート情報を検索する
      </div>
    <% end %>

		</div>
</div>