      <div class="place_search_wrap">

        <div class="search_word">
          <%= form_tag("/places/#{@event.ruby }/search", method: :get, enforce_utf8: false) do %>
              <input name='kw' size="30" type="text" placeholder="<%= @search_word %>" value="<%= params[:kw] %>" class="search_area change_font"/>
                <div class="search_icon">
                  <%= submit_tag("検索", :name => nil) %>
              </div>
          <% end %>
          <div class="search_word_announce">※複数の単語はスペースで区切ってください</div>
        </div>

      </div>