<% set_meta_tags noindex: true, nofollow: true %>


<div class="main users-index">
  <div class="container">

    <%= render "/layouts/breadcrumb" %>
    <h1 class="users-heading">投稿数</h1>

    <div class="users-index-item">

			<% @places.each do |place| %>
				["ID",投稿数]： <%= place %><br>
			<% end %>

		</div>

  </div>
</div>