<div class="main users-new">
  <div class="container">
    <div class="form-heading">投稿の編集</div>
    <div class="form users-form">
      <div class="form-body cont-body">
      <% if @place.errors.any? %>
        <div class="form-error">
          いずれかのエラーが発生いたしました。<br>
          ・必須項目の未記入<br>
          ・『施設名』の重複
        </div>
      <% end %>


      <%= render "form_place.html.erb"%>

      </div>
    </div>
  </div>
</div>