%script{async: "", crossorigin: "anonymous", src: "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7744112029922449"}
%ins.adsbygoogle{"data-ad-client" => "ca-pub-7744112029922449", "data-ad-format" => "auto", "data-ad-slot" => "4991460190", "data-full-width-responsive" => "true", style: "display:block"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});