%script{async: "", crossorigin: "anonymous", src: "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5024401671855884"}
%ins.adsbygoogle{"data-ad-client" => "ca-pub-5024401671855884", "data-ad-format" => "auto", "data-ad-slot" => "8447377096", "data-full-width-responsive" => "true", style: "display:block"}
:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});