<!-- ログインあり -->
<% if admin_user_signed_in? %>




<!-- ログインなし -->
<% else %>

  <!-- home -->
    <% if @path.is('users#top') || @path.is('users#index') %>

      <div class="footer_btn bg_btn">
        <%= link_to(new_admin_user_registration_path) do %>
          <span class="fixed_btn_b pickup">無料でメンバーを募集する！</span>
        <% end %>
      </div>

    <% end %>


  <!-- places -->
    <% if @path.is('places') %>

      <% if @path.is('places#index, places#show') %>
        <div class="footer_btn bg_btn">
          <a href="/">
            <span class="fixed_btn_b mail">メンバーを募集する！</span>
          </a>
        </div>
      <% end %>

    <% end %>

  <!-- questions -->
    <% if @path.is('questions') %>

      <% if @path.is('questions#questions') %>

      <!-- event_questions -->
      <% elsif @path.is('event_questions') %> 


      <% else %>

          <div class="footer_btn bg_btn">
            <%= link_to user_questions_path do %>
               <span class="fixed_btn_b mail">このサークルに質問する！</span>
            <% end %>
          </div>

      <% end %>

    <% end %>



  <!-- other -->
    <% if @path.is('users') || @path.is('blogs') || @path.is('schedules') %>
      <% if @path.is('#show') && @user.switch == "募集中" %>


                <div class="footer_btn bg_btn footer_btn_2">

                  <ul class="fixed_btn_list">
                    <li class="fixed_btn_content">
                      <a href="/users/">
                        <i class="fa fa-bookmark-o "></i>
                        <div class="fixed_btn_txt">保存する</div>
                      </a>
                    </li>

                    <li class="fixed_btn_content">
                      <a href="/users/">
                        <i class="fa fa-edit "></i>
                        <div class="fixed_btn_txt">コメント</div>
                      </a>
                    </li>

                  </ul>

                  <%= link_to "/users/#{@user.id}/contact" do %>
                    <span class="fixed_btn_b line">サークルに参加する</span>
                  <% end %>

                </div>


      <% end %>
    <% end %>


<% end %>
