<div class="footer_wrap">
  <%= render "/layouts/breadcrumb" %>

  <ul class="footer_links">
    <li><a href="/faq">よくある質問</a></li>
    <li><a href="/rules">利用規約</a></li>
    <li><a href="/privacypolicy">プライバシーポリシー</a></li>
    <% if @path.is('users#show') || @path.is('blogs#show') || @path.is('reviews') || @path.is('schedules') || @path.is('user_contacts') || @path.is('questions') %>
    <% else %>
      <li><a href="mailto:circlebook47@gmail.com?subject=【お問い合わせ】サークルブック" >お問い合わせ（メール）</a></li>
      <li><a href="http://nav.cx/3JiS9Im">お問い合わせ（LINE）</a></li>
    <% end %>
  </ul>

  <div class="footer_copyright">
    <div class="footer_logo">
      <%= link_to root_path do %>
        <% if request.format == :amp %>
          <amp-img alt="サークルブック"
            src="/images/logo.png"
            class="footer_logo_img"
            width="160"
            height="33"
            layout="responsive"
            object-fit="cover">
          </amp-img>
        <% else %>
          <img class="footer_logo_img" src="/images/logo.png" alt="サークルブック">
        <% end %>
      <% end %>
    </div>

    <div class="footer_copyright_address">
      Copyright (c) <%= link_to "サークルブック", root_path %>
    </div>
  </div>

</div>