<div class="star_wrap">

	<% if review_score >= 4 %>
		<!-- 5.0 -->
		<div class="star">
			<i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star orange"></i>
		</div>

	<% elsif review_score >= 3 %>
		<!-- 4.0 -->
		<div class="star">
			<i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star gray"></i>
		</div>

	<% elsif review_score >= 2 %>
		<!-- 3.0 -->
		<div class="star">
			<i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i>
		</div>

	<% elsif review_score >= 1 %>
		<!-- 2.0 -->
		<div class="star">
			<i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i>
		</div>

	<% elsif review_score >= 0.5 %>
		<!-- 1.0 -->
		<div class="star">
			<i class="fa fa-star orange"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i>
		</div>

	<% else %>
		<!-- 0 -->
		<div class="star">
			<i class="fa fa-star gray"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i>
		</div>
	<% end %>

</div>