<div class="star_wrap">

	<% if @star_review >= 4.5 %>
		<!-- 5.0 -->
		<div class="star">
			<i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star orange"></i>
		</div>

	<% elsif @star_review >= 4.0 %>
		<!-- 4.0 -->
		<div class="star">
			<i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star gray"></i>
		</div>

	<% elsif @star_review >= 3.0 %>
		<!-- 3.0 -->
		<div class="star">
			<i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i>
		</div>

	<% elsif @star_review >= 2.0 %>
		<!-- 2.0 -->
		<div class="star">
			<i class="fa fa-star orange"></i><i class="fa fa-star orange"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i>
		</div>

	<% elsif @star_review >= 1.0 %>
		<!-- 1.0 -->
		<div class="star">
			<i class="fa fa-star orange"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i>
		</div>	


	<% else %>
		<!-- 0 -->
		<div class="star">
			<i class="fa fa-star gray"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i><i class="fa fa-star gray"></i>
		</div>
	<% end %>

</div>